<% @tattoos.each do |tattoo| %> 
<h1>Editing <%= tattoo.name %> </h1>
<form action="/tattoos/:id" method="post">
    <input type="hidden" value="PATCH" name="_method">
    <b>Name: <input type="text" name="name" value="<%= tattoo.name %>"><br>
    <b>Client: <input type="text" name="client" value="<%= tattoo.client %>"><br>
    <b>Placement: <input type="text" name="placement" value="<%= tattoo.placement %>"><br>
    <b>Description:<input type="text" name="description" value="<%= tattoo.description %>"><br>
    <% end %>
    <input type="submit" value="submit"> 
</form>
