
<html>
<head>
<style>
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
</style>

</head>

<body>

 <%# <% @tattoos.each do |tattoo|   %>

<h2> <a href="/tattoos/edit/<%= @tattoos.id %>"><%= @tattoos.name %></a>  </h2>
 <p>
<b> Client: <%= @tattoos.client %></b><br><br>
<b> Placement:</b> <%= @tattoos.placement %> <br><br>
<b> Description:</b> <%= @tattoos.description %> <br><br>
 </p>

<%# <% end %> 

</body>
<a href="/tattoos">quick view</a>
