
<html>
<head>
<style>
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
</style>
<a href="/tattoos">quick view</a>
</head>
<body>

 <% @tattoos.each do |tattoo|  %>
 <p>
<h2><%= tattoo.name.upcase %> </h2>
<b> Client: <%= tattoo.client %></b><br><br>
<b> Placement:</b> <%= tattoo.placement %> <br><br>
<b> description:</b> <%= tattoo.description %> <br><br>
 </p>
 


<%# <a href="/tattoos/:id">Edit <% tattoo.id%></a>
 <%# <% tattoo.id %>
    <%# <form method="POST" action="/tattoos/<%= tattoo.id %>
        <%# <input type="hidden" value="DELETE" name="_method"><br>
        <input type="submit" value="delete"> %> 


<% end %>

</body>

